body{
    margin:0;
    background:hsl(30, 1%, 30%);
    overflow:hidden;
    text-align:center;
}
#myCanvas{
    background: rgb(134, 134, 134);

}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: right ;
	z-index: 100;
	display:block;
    
}

#inputForm {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.slider-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: lightblue; /* Change the color name to the desired color */
	font-family: Arial, sans-serif;
}


